[Unit]
Description=Immich photo server
After=network-online.target postgres.service valkey.service
Requires=postgres.service valkey.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=ghcr.io/immich-app/immich-server:release
AutoUpdate=registry
ContainerName=immich-server
Network=diskette.network
PublishPort=2283:2283
Volume=/srv/media/Photos:/data
Volume=/etc/localtime:/etc/localtime:ro
EnvironmentFile=/srv/diskette/.env
Environment=DB_HOSTNAME=postgres
Environment=DB_USERNAME=${POSTGRES_USER}
Environment=DB_PASSWORD=${POSTGRES_PASSWORD}
Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=valkey
Environment=IMMICH_MACHINE_LEARNING_ENABLED=false
Environment=TZ=Europe/Amsterdam

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
