[Unit]
Description=Samba
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/dockurr/samba:latest
ContainerName=samba
Network=diskette.network
AutoUpdate=registry
PublishPort=4455:445
Volume=/srv/media:/shared
Environment=NAME=media
Secret=SAMBA_USER,type=env,target=USER
Secret=SAMBA_PASSWORD,type=env,target=PASS

[Service]
SuccessExitStatus=0 126
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
